<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Common:common" />
<load href="__PUBLIC__/css/common/rightCommon.css" />
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<a class="navbar-brand" href="#">模块管理</a>
</div>
<div>
<button type="button" data-id="<{:C('AUTH_MODULE.auth_del_id')}>" class="btn btn-danger navbar-btn listButton" onclick="deleteData('Module')"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</button>
<button type="button" data-id="<{:C('AUTH_MODULE.auth_save_id')}>" class="btn btn-info navbar-btn listButton" onclick="editData('addModule')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 修改</button>
<button type="button" data-id="<{:C('AUTH_MODULE.auth_add_id')}>" class="btn btn-success navbar-btn listButton" onclick="javascript:window.location.href='__APP__/System/addModule'"><i class="fa fa-plus" aria-hidden="true"></i> 新建</button>
<form class="navbar-form navbar-right listSearch" role="search" method="get" action="__ACTION__">
<div class="form-group">

<select class="form-control" name="moduleType">
	<option value="" selected>请选择模块</option>
	<option value="=0">主模块</option>
	<option value="<>0">子模块</option>
</select>

<select class="form-control" name="parent_id">
	<option value="" selected>请选择主模块</option>
	<volist name="parList" id="vo">
		<if condition="$_GET['parent_id'] eq $vo['id']">
			<option value="<{$vo.id}>" selected><{$vo.moduleName}></option>
		<else/>
			<option value="<{$vo.id}>"><{$vo.moduleName}></option>
		</if>
	</volist>
</select>

<input name="keyWord" type="text" class="form-control" id="keyWord" placeholder="请输入关键词进行搜索">
</div>
<button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
</form>    
</div>
</nav>

<div class="list-box">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th>选择</th>
<th>编号</th>
<th>模块名称</th>
<th>模块图标</th>
<th>模块链接</th>
<th>模块排序</th>
</tr>
</thead>
<tbody>
<volist name="list" id="vo">
<tr>
<td><input type="checkbox" name="del_listID" id="del_listID" data-name="multi-select" value="<{$vo.id}>" /></td>
<td><{$vo.id}></td>
<td><{$vo.moduleName}></td>
<td><i class="fa fa-<{$vo.moduleIcon}>" aria-hidden="true"></i></td>
<td><{$vo.moduleLink}></td>
<td class="sortTD" name="Module"> <{$vo.sort}> </td>
</tr>
</volist>
</tbody>
</table>

</div>




<ul class="pagination">
<{$page}>
</ul>

</body>
</html>
