<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <include file="Common:common"/>
    <load href="__PUBLIC__/css/common/rightCommon.css"/>

    <!--<load href="__PUBLIC__/tools/ueditor1_4_3-utf8-php/ueditor.config.js"/>-->
    <!--<load href="__PUBLIC__/tools/ueditor1_4_3-utf8-php/ueditor.all.min.js"/>-->
    <!--<load href="__PUBLIC__/tools/ueditor1_4_3-utf8-php/lang/zh-cn/zh-cn.js"/>-->
    <!--<load href="__PUBLIC__/tools/webuploader-0.1.5/dist/webuploader.css"/>-->
    <!--<load href="__PUBLIC__/tools/webuploader-0.1.5/examples/image-upload/style.css"/>-->


    <script>
        $(document).ready(function (e) {
            getEditData(function (e) {

            });
        });
    </script>

</head>

<body>
<!--alert弹窗Start  -->
<div id="top-alert" class="fixed alert alert-error" style="display:none;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>
<!--alert弹窗end  -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-plus" aria-hidden="true"></i> <span id="changeTitle">添加</span>讲故事分类</a>
    </div>
</nav>

<div class="add-box">
    <form class="addForm ajax-alert" id="form1" name="form1" method="post"
          action="__APP__/Scategory/addTellingScategoryData/controller/Scategory/backUrl/tellingScategoryList/table/scategory">
        <input name="id" type="hidden" id="id" value="<{$_GET['id']}>"/>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>


            <tr>
                <td align="center">讲故事分类名称</td>
                <td><input type="text" name="scategory_name" id="scategory_name" class="form-control" placeholder="请输入讲故事分类名称"/>
                </td>
            </tr>


            <!--<tr>-->
                <!--<td align="center">分类类型</td>-->
                <!--<td colspan="5"><select name="scategory_type" id="scategory_type" class="form-control">-->
                    <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
                    <!--<option value="0">听故事</option>-->
                    <!--<option value="2">讲故事</option>-->
                <!--</select></td>-->
            <!--</tr>-->

            <tr>
                <td>&nbsp;</td>
                <td>
                    <button class="btn btn-success ajax-post" type="submit" id="saveButton"
                            target-form="form-horizontal"><i class="fa fa-check" aria-hidden="true"></i> 添加
                    </button>
                    <button type="button" class="btn btn-default" id="cancelButton"><i class="fa fa-times"
                                                                                       aria-hidden="true"></i> 取消
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>



</body>
</html>
